p{
  margin: 0;
  padding: 0;
}
.wrapper{
  display: flex;
  height: 100%;

  .linear-chart{
    width: 65%;
    height: 100%;

    p{
      font-size: 40px;
      padding: 15px 20px;
      margin: 0;
    }
  }
  .circle-chart{
    width: 35%;
    height: 100%;
    border-left: 2px solid #DCDCDC;


  }
}
.title-text, .header-text{
  color: #D9D9D9;
  width: 30px;
  font-size: 14px;
  display: inline-block;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  height: 30px;

  p{
    font-size: 25px;
  }

}
.mat-icon.material-icons{
  color: #d0d0d0;
}
button.mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 16px;
}

.circle-statistic{
  width: 100%;
  overflow: hidden;
}
