<h2>chart</h2>
<!--<ngx-charts-bar-vertical [view]='[600, 300]' [results]="data" [scheme]="colorScheme" [xAxis]="true" [yAxis]="true" [legend]="false"
></ngx-charts-bar-vertical>-->
<div >
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="test">
  <chart [options]="options"></chart>
</div>
