<div class="wrapper">
  <header class="header">
    <top-navigation></top-navigation>
  </header>
  <section class="double-statistics">
    <div class="chart1">
      <total-statistic-component
        [title]="'Downloads total'"
        [color]="colorDownloads"
        [defaultColor]="defaultColor"
        [urlState]="routerState"
        [dbPath]="'downloads'"
      ></total-statistic-component>
    </div>
    <div class="chart2">
      <total-statistic-component
        [title]="'Users total'"
        [color]="colorUsers"
        [defaultColor]="defaultColor"
        [urlState]="routerState"
        [dbPath]="'users'"
      ></total-statistic-component>
    </div>
  </section>
  <section class="overall-statistics">
    <div class="linear-charts">

      <overall-statistic
        [urlState]="routerState"
        [color]="doneColor"
      ></overall-statistic>
    </div>
    <div class="active-users">
      <users-list></users-list>
    </div>
  </section>
</div>
