.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.border-left{
  border-left: 2px solid #d8d8d8;
  height: 100%;
}

.header{
  box-sizing: border-box;
}
.double-statistics{
  box-sizing: border-box;
  border: 2px solid #d8d8d8;
  border-left: none;
  border-right: none;
  height: 31%;
  width: 100%;
  display: flex;

  div + div {
    @extend .border-left;
  }

}
.chart{
  width: 50%;
  box-sizing: border-box;
}
.chart1{
  @extend .chart;
}
.chart2{
  @extend .chart;
}
.overall-statistics{
  display: flex;
  height: 69%;

  div + div {
    @extend .border-left;
  }

  .linear-charts{
    width: 70%;
    height: 100%;
  /*  background: darkcyan;*/
  }
  .active-users{
    width: 30%;

  }
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 2200px) {
  .dop{
    display: none;
  }
}
@media only screen and (max-width : 1024px) {
  .dop{
    display: inline-block;
  }
  .nav{
    display: block;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .double-statistics{
    display: block;
    height: auto;

    div + div{
      border-left: 0;
    }
  }
  .chart1, .chart2 {
    width: 100%;
    height: 300px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .nav{
    display: none;
  }
  .mobile{
    display: block;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
