<div class="wrapper">
  <header class="header">
    <top-navigation></top-navigation>
  </header>
  <section class="double-statistics">
    <div class="chart1">1x2</div>
    <div class="chart2">2x2</div>
  </section>
  <section class="overall-statistics">
    <div class="linear-charts">
      <linear-chart-my
        [color]="doneColor"
        [data]="data"
        [view]="[1000, 300]"
        [showXAxis]="false"
        [showXAxisLabel]="false"
        [xAxisLabel]=""
        [showYAxis]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]=""
        [tooltipDisabled]="false"
        [roundDomains]="true"
        [gradient]="false"
        [showLegend]="true"
        [autoScale]="false"
        [legendTitle]="''"
      ></linear-chart-my>
    </div>
    <div class="active-users">
      active users
    </div>
  </section>
</div>
