<div class="wrapper">
  <header class="header">
    <top-navigation></top-navigation>
  </header>
  <section class="double-statistics">
    <div class="chart1">
      <total-statistic-component
        [title]="'Downloads total'"
        [color]="colorDownloads"
        [defaultColor]="defaultColor"
        [urlState]="routerState"
        [dbPath]="'downloads'"
      ></total-statistic-component>
    </div>
    <div class="chart2">
      <total-statistic-component
        [title]="'Users total'"
        [color]="colorUsers"
        [defaultColor]="defaultColor"
        [urlState]="routerState"
        [dbPath]="'users'"
      ></total-statistic-component>
    </div>
  </section>
  <section class="overall-statistics">
    <div class="linear-charts">
      <linear-chart-my
        [color]="doneColor"
        [data]="data"
        [view]="[1000, 300]"
        [showXAxis]="false"
        [showXAxisLabel]="false"
        [xAxisLabel]=""
        [showYAxis]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]=""
        [tooltipDisabled]="false"
        [roundDomains]="true"
        [gradient]="false"
        [showLegend]="true"
        [autoScale]="false"
        [legendTitle]="''"
        [urlState]="routerState"
      ></linear-chart-my>
    </div>
    <div class="active-users">
      <users-list></users-list>
    </div>
  </section>
</div>
