.background{
  background: url("../../assets/img/img16.jpg") center;
  overflow: hidden;
  height: 300px;
  background-size: cover;
}
.container-login-bg {
  background-color: #e5e6e6;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}
.card-body{
  padding: 60px 24px 24px;
}
