<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <h2 class="title">form Sign up</h2>
      <form [formGroup]="signUpForm" name="test" (submit)="registration($event, signUpForm)">
        <div class="form-my-group">
          <md-form-field class="example-full-width">
            <input formControlName="name" mdInput placeholder="Name">
            <error-app [myFormControl]="signUpForm.get('name')"
                       [name]="'Name'"
                       class="error-input"
            ></error-app>
          </md-form-field>
        </div>
        <div class="form-my-group">
          <md-form-field class="example-full-width">
            <input type="email" my-async-validator [myForm]="signUpForm" [fieldName]="'email'" formControlName="email" mdInput placeholder="Email">
            <error-app [myFormControl]="signUpForm.get('email')"
                       [name]="'Email'"
                       class="error-input"></error-app>
          </md-form-field>
        </div>
        <div formGroupName="passwords">
          <div class="form-my-group">
            <md-form-field class="example-full-width ">
              <input type="password" formControlName="password" mdInput placeholder="Password">
              <error-app class="error-input" [myFormControl]="signUpForm.get('passwords').get('password')"
                         [name]="'Password'"></error-app>
            </md-form-field>
          </div>
          <div class="form-my-group">
            <md-form-field class="example-full-width">
              <input type="password" formControlName="passwordConfirm" mdInput placeholder="Password confirm">
              <error-app [myFormControl]="signUpForm.get('passwords').get('passwordConfirm')"
                         [name]="'Password confirm'"
                         class="error-input"></error-app>
            </md-form-field>
          </div>
        </div>


        <button [disabled]="signUpForm.invalid" md-raised-button class="my-btn" color="primary">Sign Up</button>
      </form>
    </div>
    <div class="col-md-5 offset-md-1 text-center">
      <p class="question">To come in?</p>
      <a class="my-btn-green" md-raised-button routerLink="/sign-in">Sign In</a>
      <p class="question whitespace">or</p>
      <button class="my-btn no-float" (click)="loginFacebook()" md-raised-button>Sign In with Facebook</button>
    </div>
  </div>
</div>
