<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <h2 class="title">form Sign up</h2>
      <form [formGroup]="signUpForm" name="test" (submit)="registration($event, signUpForm)">
        <md-form-field class="example-full-width">
          <input formControlName="name" mdInput placeholder="Name">
        </md-form-field>
        <md-form-field class="example-full-width">
          <input type="email" formControlName="email" mdInput placeholder="Email">
        </md-form-field>

        <div formGroupName="passwords">
          <md-form-field class="example-full-width">
            <input type="password" formControlName="password" mdInput placeholder="Password">
          </md-form-field>
          <md-form-field class="example-full-width">
            <input type="password" formControlName="passwordConfirm" mdInput placeholder="Password confirm">
          </md-form-field>
        </div>


        <button [disabled]="signUpForm.invalid" md-raised-button class="my-btn" color="primary">Sign Up</button>
      </form>
    </div>
    <div class="col-md-5 offset-md-1 text-center">
      <p class="question">To come in?</p>
      <a class="my-btn-green" md-raised-button routerLink="/sign-in">Sign In</a>
    </div>
  </div>
</div>
