.wrapper{
  display: flex;
  flex-direction: column;
  padding: 10px 15px;

  .title{
    margin: 0;
    padding: 0 10px;
    color: #606060;
  }

  .nav{
    margin: 24px 0 0;
    padding: 0;
  }
  .link{
    display: inline-block;
    list-style-type: none;

    a{
      text-decoration: none;
      color: #C7C7C7;
      display: inline-block;
      padding: 8px 10px;
      transition: .3s;
    }
    a.active{
      border-bottom: 5px solid #3D9BD4;
      color: #606060;
    }
    a:hover{
      border-bottom: 5px solid #3D9BD4;
      color: #606060;
    }
  }
}
