<div class="row height">
  <div class="col-md-12 col-sm-12">
    <h2 class="title">Scribl App</h2>
    <ul class="nav">
      <li class="link"><a routerLink="/all" routerLinkActive="active">All</a></li>
      <li class="link"><a routerLink="/ios" routerLinkActive="active">iOS</a></li>
      <li class="link"><a routerLink="/android" routerLinkActive="active">Android</a></li>
      <li class="link"><a routerLink="/web" routerLinkActive="active">Web</a></li>
      <li class="link dop"><a routerLink="/file" routerLinkActive="active">File</a></li>
      <li class="link dop"><a routerLink="/users" routerLinkActive="active">Message</a></li>
    </ul>
    <div class="mobile">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <i class="material-icons">menu</i>
      </button>
      <md-menu #menu="mdMenu" [yPosition]="'below'" [xPosition]="'after'">

        <a routerLink="/all" routerLinkActive="active" md-menu-item>
          <md-icon>
            <i class="material-icons">multiline_chart</i>
          </md-icon>
          <span>All</span>
        </a>
        <a routerLink="/ios" routerLinkActive="active" md-menu-item>
          <md-icon>
            <i class="fa fa-apple" aria-hidden="true"></i>
          </md-icon>
          <span>IOS</span>
        </a>
        <a routerLink="/android" routerLinkActive="active"  md-menu-item>
          <md-icon>
            <i class="fa fa-android" aria-hidden="true"></i>
          </md-icon>
          <span>Android</span>
        </a>
        <a routerLink="/web" routerLinkActive="active"  md-menu-item>
          <md-icon>
            <i  class="fa fa-laptop" aria-hidden="true"></i>
          </md-icon>
          <span>Web</span>
        </a>
        <a routerLink="/file" routerLinkActive="active"  md-menu-item>
          <md-icon>
            <i class="material-icons">insert_drive_file</i>
          </md-icon>
          <span>File</span>
        </a>
        <a routerLink="/users" routerLinkActive="active"  md-menu-item>
          <md-icon>
            <i class="material-icons">people</i>
          </md-icon>
          <span>Users</span>
        </a>
      </md-menu>
    </div>
  </div>
</div>
