.title {
  margin: 0;
  padding: 20px 40px;
  color: #606060;
}

.nav {
  margin: 8px 0 0;
  padding: 0 0 0 20px;
}

.link {
  display: inline-block;
  list-style-type: none;

  a {
    text-decoration: none;
    color: #C7C7C7;
    display: inline-block;
    padding: 6px 24px;
    transition: .3s;
  }
  a.active {
    border-bottom: 5px solid #3D9BD4;
    color: #606060;
  }
  a:hover {
    border-bottom: 5px solid #3D9BD4;
    color: #606060;
  }
}
.height{
  height: 120px;
}
.mobile{
  display: none;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 2200px) {
  .dop{
    display: none;
  }
}
@media only screen and (max-width : 1024px) {
  .dop{
    display: inline-block;
  }
  .nav{
    display: block;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .nav{
    display: none;
  }
  .mobile{
    display: block;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
