<div class="wrapper">
  <md-card class="card">
    <md-card-content class="card-content">
      <a routerLink="" class="logo">Scribl App</a>
      <ul class="list">
        <li class="item">
          <a routerLink="/users" routerLinkActive="active" class="file">
            <i class="material-icons">people</i>
            Users
          </a>
        </li>
        <li class="item">
          <a routerLink="/file" routerLinkActive="active" class="file">
            <i class="material-icons">insert_drive_file</i>
            Files
          </a>
        </li>
        <li class="item">
          <a routerLink="" class="file">
            <i class="material-icons">home</i>
            Home
          </a>
        </li>
      </ul>
      <div class="search">
        <search-app class="search-app"></search-app>
      </div>
    </md-card-content>
  </md-card>
</div>
