#canvas{
  width: 200px;
}
.circle{
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.percentage{
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 15px);
  color: #BDBDBD;
  font-weight: bold;
}
