#canvas{

}
.circle{
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.percentage{
  position: absolute;
  display: inline-block;
  overflow: auto;
  width: 50%;
  height: 50%;
  text-align: center;
  top: calc(50% - 26px);
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #BDBDBD;
  font-weight: bold;
}
.about-flex{
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #BDBDBD;
  font-weight: bold;
}
