<div class="chart">
  <ngx-charts-line-chart
    *ngIf="data"
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [roundDomains]="roundDomains"
    [tooltipDisabled]="tooltipDisabled"
    [legendTitle]="legendTitle"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>

