<div class="upload-file">
  <md-card class="upload-file__height">
    <div class="upload-file__form">
      <input id="file" class="upload-file__input" (change)="detectFiles($event)" type="file">
      <label class="upload-file__label" for="file">checked file</label>
      <span class="name" *ngIf="selectedFiles; else other_content">Name file: {{selectedFiles[0]?.name}}</span>
    </div>
    <button md-raised-button [disabled]="!selectedFiles"
            (click)="setToggleProgress(true); uploadSingle()">Upload Single
    </button>
    <div class="progress" *ngIf="toggleProgress">
      <span class="progress-title">Progress</span>
      <span class="progress-percentage">{{widthProgress + ' %'}}</span>
      <div class="clear"></div>
      <div class="progress-wrap">
        <div [style.width]="widthProgress + '%' "></div>
      </div>
    </div>
  </md-card>
</div>
<ng-template #other_content><span class="name">Choose file...</span></ng-template>
<simple-notifications  [options]="options" ></simple-notifications>
