@font-face {
  font-family: 'icomoon';
  src: url('font/icomoon.eot?fgx5bd');
  src: url('font/icomoon.eot?fgx5bd#iefix') format('embedded-opentype'),
  url('font/icomoon.ttf?fgx5bd') format('truetype'),
  url('font/icomoon.woff?fgx5bd') format('woff'),
  url('font/icomoon.svg?fgx5bd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  font-size: 30px;
  color: #808080;
  transition: .3s;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-speech-bubble:before {
  content: "\e902";
  margin-left: -8px;
}

.icon-speech-bubble-outline-of-rectangular-shape:before {
  content: "\e900";
  margin-left: -8px;
}

.icon-cloud:before {
  content: "\e901";
  margin-left: -8px;
}

.icon-line-chart:before {
  content: "\1f320";
  margin-left: -8px;
}

.wrapper{
  height: 100%;
  width: 75px;
  background: #000000;
  position: relative;
    .icon{
      height: 120px;
      width: 100%;
      background: #ffcd00;
    }
    .list{
      padding: 0;
    }
    .list-item{
      list-style-type: none;
      display: block;
      height: 120px;
    }

    .link{
      display: flex;
      height: inherit;
      justify-content: center;
      align-items: center;
      border-bottom: 3px solid #333333;
      text-decoration: none;
      transition: .3s;
    }
    .link.active [class^="icon-"], .link:hover [class^="icon-"] {
      color: white;
    }
    [class^="icon-"] {
      position: relative;
    }
    .sms{
      font-size: 15px;
      position: absolute;
      line-height: 15px;
      text-align: center;
      height: 21px;
      width: 21px;
      top: -9px;
      right: -10px;
      font-weight: 800;
      border-radius: 50%;
      color: #000;
      border: 2px solid black;
      background: #ffcd00;
      transition: .3s;
    }
    .new-message:hover i.sms, a.new-message.active i.sms{
      transition: .3s;
      background: #ed684a;
      color: #191919;
    }
    .footer{
      position: absolute;
      bottom: 50px;
      margin: auto;
    }
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 30000px) {
  .wrapper{
    display: block;
  }
}
@media only screen and (max-width : 1024px) {
  .wrapper{
    display: none;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
