@font-face {
  font-family: 'icomoon';
  src: url('font/icomoon.eot?fgx5bd');
  src: url('font/icomoon.eot?fgx5bd#iefix') format('embedded-opentype'),
  url('font/icomoon.ttf?fgx5bd') format('truetype'),
  url('font/icomoon.woff?fgx5bd') format('woff'),
  url('font/icomoon.svg?fgx5bd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;

  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  font-size: 30px;
  color: #808080;
  transition: .3s;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-speech-bubble:before {
  content: "\e902";
  margin-left: -8px;
}

.icon-speech-bubble-outline-of-rectangular-shape:before {
  content: "\e900";
  margin-left: -8px;
}

.icon-cloud:before {
  content: "\e901";
  margin-left: -8px;
}

.icon-line-chart:before {
  content: "\1f320";
  margin-left: -8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: black;

  & .top {
    height: 62%;
    width: 100%;

    & .icon {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      background: #ffcd00;
      color: #6c2188;
    }
    i.fa,span {
      width: 100%;
      font-size: 30px;
      position: relative;
      box-sizing: border-box;
      text-align: center;
    }
  }
  & .footer{
    height: 50px;
    width: 100%;

    margin-bottom: 20px;

  }
}

.nav {
  height: 300px;

  a {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 50% 0;
    text-decoration: none;
    height: calc(100% / 3);
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 1px solid #333333;
  }
  a.active [class^="icon-"], a:hover [class^="icon-"] {
    color: white;
  }
}
.sms{
  font-size: 15px;
  position: absolute;
  line-height: 15px;
  height: 15px;
  width: 15px;
  top: 25px;
  right: 10px;
  font-weight: 800;
  border-radius: 50%;
  color: #000;
  border: 2px solid black;
  background: #ffcd00;
  transition: .3s;
}
.new-message:hover i.sms, a.new-message.active i.sms{
  transition: .3s;
  background: #ed684a;
  color: #191919;
}
.small-font{
  padding: 1px 1px;
  font-size: 11px;
}
