/*.background{
  background: url("../../../assets/img/img16.jpg") center;
  overflow: hidden;
  height: 300px;
  background-size: cover;
}
.container-login-bg {
  background-color: #e5e6e6;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}*/
.title{
  font-family: 'Roboto', sans-serif;
  color: #399bff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0;
}
.example-full-width{
  width: 100%;
}
.card-body{
  padding: 60px 24px 24px;
}
.my-btn{
  text-transform: uppercase;
  margin: 15px 0;
  background: #399bff;
  float: right;
  transition: .15s;
}
.question{
 color: black;
  font-size: 20px;
  padding: 40px 0 10px;
}
.my-btn-green{
  width: 80%;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background: #0aa89e;
  transition: box-shadow 0.15s ease-out;
}
.my-btn:not([disabled]):hover{
  background: #307cd0;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.38);
}
.my-btn-green:hover{
  transition: .15s;
  background-color: #08867e;
  border-color: #08867e;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.38);
}
.whitespace{
  padding-top: 17px;
  margin-bottom: 0;
}
.no-float{
  width: 80%;
  float: none;
  color: white;
}
.form-my-group{
  position: relative;
  padding-bottom: 10px;
}
.error-input{
  position: absolute;
  bottom: -12px;
}
md-form-field.mat-focused error-app{
  display: none;
}
@media only screen and (max-device-width: 768px) {
  /* Styles */
  .no-float{
    width: 100%;
    min-width: 100%;
  }
  .my-btn-green{
    width: 100%;
    min-width: 100%;
  }
}
.server-error{
  position: absolute;
  bottom: -25px;
  color: #ff7676;
  font-size: 15px;
}
