<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <h2 class="title">form Sign in</h2>
      <form (submit)="login($event, signInForm)" [formGroup]="signInForm">
        <md-form-field class="example-full-width">
          <input type="email" formControlName="email" mdInput placeholder="Email">
        </md-form-field>
        <md-form-field class="example-full-width">
          <input type="password" formControlName="password" mdInput placeholder="Password">
        </md-form-field>
        <button [disabled]="signInForm.invalid" md-raised-button class="my-btn" color="primary">Login</button>
      </form>
    </div>
    <div class="col-md-5 offset-md-1 text-center">
      <p class="question">No account yet?</p>
      <a class="my-btn-green" md-raised-button routerLink="/sign-up">Sign Up</a>
      <p class="question whitespace">or</p>
      <button class="my-btn no-float" (click)="signInF()" md-raised-button>Sign In with Facebook</button>
    </div>
  </div>
</div>
