.wrapper{
  background: #282828;
  height: 100%;
  width: 100%;
}
h2{
  margin: 0;
  padding: 0;
}
.general-overview{
  height: 32%;
  width: 100%;
}
.hour{
  height: 21%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #535353;
  border-top: 2px solid #535353;
}
.daily-goals{
  height: 19%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #535353;
}
.server-statistics{
  height: calc(100% - 72%);
  width: 100%;
}
