<div class="wrapper">
  <div class="general-overview">
    <h2 class="title">General Overview</h2>
    <div class="number-statistic">
      <div class="users">
        {{countUsers}}
        <span class="title">
          Users this week
        </span>
      </div>
      <div class="downloads">
        {{countDownloads}}
        <span class="title">
          Downloads this week
        </span>
      </div>
    </div>
  </div>
  <div class="hour">
    statistic
  </div>
  <div class="daily-goals">
    statistic
  </div>
  <div class="server-statistics">

  </div>
</div>

